.bg-app {
	background-color: #5c00d5 !important;
}
.bg-app-cart {
	background-color: #0000d78f;
}
.text-app {
	color: #004eff !important;
}
.text-app2 {
	color: #320074;
}

/* hover */
.hov-link > a:hover {
	background: #f8f9fa;
	color: #0d6efd !important;
}

/* active */
.hov-link > .nav-link.active {
	background: #f8f9fa;
	color: #0d6efd !important;
}

/*text*/
.text-app-footer > p > a,
.text-app-footer > p {
	color: #d6d6d6;
}
.text-app {
	color: #5c00d5 !important ;
}

.b-white {
	border-color: white;
}

.btn-app-secondary {
	color: grey !important;
}
.btn-app-md {
	font-size: 1.5rem;
}

.btn-app-secondary:hover {
	color: #5c00d5 !important;
}
.icon-area {
	position: relative;
}
.notify {
	background-color: red;
	color: white;
	border-radius: 3rem;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.8rem;
	position: absolute;
	top: -5px;
	right: -5px;
}

.edit-profile {
	position: absolute;
	top: 80px;
	right: 55px;
}
.border-hr {
	border-top: 1px dashed blue;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

.icon-img-lg {
	width: 80px;
}
.icon-img-xl {
	width: 120px;
	height: 120px;
}
.con-img-xl {
	position: relative;
	width: 120px;
	height: 120px;
}
